{:kotoba.app/id "cloud.itonami.isic-6311", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicyvagmnbiztjj5pwdedzgzoc2zsnkgkzyh6qctw76lahsjl6qykq", :kotoba.app/embed-url "ipfs://bafkreicyvagmnbiztjj5pwdedzgzoc2zsnkgkzyh6qctw76lahsjl6qykq", :published {:archive "https://kotobase.net/ipfs/bafkreicyvagmnbiztjj5pwdedzgzoc2zsnkgkzyh6qctw76lahsjl6qykq", :size 73339, :put-status 201, :get-status 200, :at "2026-08-15T13:39:23.634Z"}}
